<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
    <section id="script.audiooffsetmanager">
        <category id="onboarding" label="32057" help="">
            <group id="1" label="32055" help="">
            <!-- Addon onboarding -->
                <setting id="new_install" type="boolean">
                    <visible>false</visible>
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="play_test_video" type="action" label="32059" help="32060">
                    <level>0</level>                 
                    <data>RunScript(script.audiooffsetmanager,play_test_video)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                    <dependencies>
                        <dependency type="visible" setting="new_install">true</dependency>
                    </dependencies> 
                </setting>            
            </group>
        </category>
        <!-- Category for Configuring Audio Offsets -->
        <category id="general" label="32001" help="32002">
            <!-- Dolby Vision -->
            <group id="2" label="32003">
                <setting id="enable_dolbyvision" type="boolean" label="32026" help="32027">
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <!-- Dolby Atmos/TrueHD (ms) Delay Setting -->
                <setting id="dolbyvision_truehd" type="integer" label="32004" help="32005" parent="enable_dolbyvision">
                    <dependencies>
                        <dependency type="visible" setting="enable_dolbyvision">true</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital+ (EAC3) (ms) Delay Setting -->
                <setting id="dolbyvision_eac3" type="integer" label="32006" help="32007" parent="enable_dolbyvision">
                    <dependencies>
                        <dependency type="visible" setting="enable_dolbyvision">true</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital (AC3) (ms) Delay Setting -->
                <setting id="dolbyvision_ac3" type="integer" label="32008" help="32009" parent="enable_dolbyvision">
                    <dependencies>
                        <dependency type="visible" setting="enable_dolbyvision">true</dependency>
                    </dependencies>              
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS:X/DTS-HD MA 8+ Channel (ms) Delay Setting -->
                <setting id="dolbyvision_dtsx" type="integer" label="32010" help="32011" parent="enable_dolbyvision">
                    <dependencies>
                        <dependency type="visible" setting="enable_dolbyvision">true</dependency>
                    </dependencies>               
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS-HD MA 6 Channel (ms) Delay Setting -->
                <setting id="dolbyvision_dtshd_ma" type="integer" label="32012" help="32013" parent="enable_dolbyvision">
                    <dependencies>
                        <dependency type="visible" setting="enable_dolbyvision">true</dependency>
                    </dependencies>                
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS (DCA) (ms) Delay Setting -->
                <setting id="dolbyvision_dca" type="integer" label="32014" help="32015" parent="enable_dolbyvision">
                    <dependencies>
                        <dependency type="visible" setting="enable_dolbyvision">true</dependency>
                    </dependencies>               
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Other/PCM (ms) Delay Setting -->
                <setting id="dolbyvision_pcm" type="integer" label="32061" help="32062" parent="enable_dolbyvision">
                    <dependencies>
                        <dependency type="visible" setting="enable_dolbyvision">true</dependency>
                    </dependencies>               
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>

            <!-- HDR10 -->
            <group id="3" label="32023">
                <setting id="enable_hdr10" type="boolean" label="32028" help="32029">
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>            
                <!-- Dolby Atmos/TrueHD (ms) Delay Setting -->
                <setting id="hdr10_truehd" type="integer" label="32004" help="32005" parent="enable_hdr10">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10">true</dependency>
                    </dependencies>                    
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital+ (EAC3) (ms) Delay Setting -->
                <setting id="hdr10_eac3" type="integer" label="32006" help="32007" parent="enable_hdr10">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital (AC3) (ms) Delay Setting -->
                <setting id="hdr10_ac3" type="integer" label="32008" help="32009" parent="enable_hdr10">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS:X/DTS-HD MA 8+ Channel (ms) Delay Setting -->
                <setting id="hdr10_dtsx" type="integer" label="32010" help="32011" parent="enable_hdr10">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS-HD MA 6 Channel (ms) Delay Setting -->
                <setting id="hdr10_dtshd_ma" type="integer" label="32012" help="32013" parent="enable_hdr10">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS (DCA) (ms) Delay Setting -->
                <setting id="hdr10_dca" type="integer" label="32014" help="32015" parent="enable_hdr10">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Other/PCM (ms) Delay Setting -->
                <setting id="hdr10_pcm" type="integer" label="32061" help="32062" parent="enable_hdr10">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>

            <!-- HDR10+ -->
            <group id="4" label="32044">
                <setting id="enable_hdr10plus" type="boolean" label="32042" help="32043">
                    <dependencies>
                        <dependency type="enable" setting="platform_hdr_full">true</dependency>
                        <dependency type="visible" setting="platform_hdr_full">true</dependency>
                    </dependencies>                
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>            
                <!-- Dolby Atmos/TrueHD (ms) Delay Setting -->
                <setting id="hdr10plus_truehd" type="integer" label="32004" help="32005" parent="enable_hdr10plus">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10plus">true</dependency>
                    </dependencies>                    
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital+ (EAC3) (ms) Delay Setting -->
                <setting id="hdr10plus_eac3" type="integer" label="32006" help="32007" parent="enable_hdr10plus">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10plus">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital (AC3) (ms) Delay Setting -->
                <setting id="hdr10plus_ac3" type="integer" label="32008" help="32009" parent="enable_hdr10plus">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10plus">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS:X/DTS-HD MA 8+ Channel (ms) Delay Setting -->
                <setting id="hdr10plus_dtsx" type="integer" label="32010" help="32011" parent="enable_hdr10plus">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10plus">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS-HD MA 6 Channel (ms) Delay Setting -->
                <setting id="hdr10plus_dtshd_ma" type="integer" label="32012" help="32013" parent="enable_hdr10plus">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10plus">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS (DCA) (ms) Delay Setting -->
                <setting id="hdr10plus_dca" type="integer" label="32014" help="32015" parent="enable_hdr10plus">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10plus">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Other/PCM (ms) Delay Setting -->
                <setting id="hdr10plus_pcm" type="integer" label="32061" help="32062" parent="enable_hdr10plus">
                    <dependencies>
                        <dependency type="visible" setting="enable_hdr10plus">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>

            <!-- HLG -->
            <group id="5" label="32025">
                <setting id="enable_hlg" type="boolean" label="32030" help="32031">
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies>                
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>               
                <!-- Dolby Atmos/TrueHD (ms) Delay Setting -->
                <setting id="hlg_truehd" type="integer" label="32004" help="32005" parent="enable_hlg">
                    <dependencies>
                        <dependency type="visible" setting="enable_hlg">true</dependency>
                    </dependencies>                 
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital+ (EAC3) (ms) Delay Setting -->
                <setting id="hlg_eac3" type="integer" label="32006" help="32007" parent="enable_hlg">
                    <dependencies>
                        <dependency type="visible" setting="enable_hlg">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital (AC3) (ms) Delay Setting -->
                <setting id="hlg_ac3" type="integer" label="32008" help="32009" parent="enable_hlg">
                    <dependencies>
                        <dependency type="visible" setting="enable_hlg">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS:X/DTS-HD MA 8+ Channel (ms) Delay Setting -->
                <setting id="hlg_dtsx" type="integer" label="32010" help="32011" parent="enable_hlg">
                    <dependencies>
                        <dependency type="visible" setting="enable_hlg">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS-HD MA 6 Channel (ms) Delay Setting -->
                <setting id="hlg_dtshd_ma" type="integer" label="32012" help="32013" parent="enable_hlg">
                    <dependencies>
                        <dependency type="visible" setting="enable_hlg">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS (DCA) (ms) Delay Setting -->
                <setting id="hlg_dca" type="integer" label="32014" help="32015" parent="enable_hlg">
                    <dependencies>
                        <dependency type="visible" setting="enable_hlg">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Other/PCM (ms) Delay Setting -->
                <setting id="hlg_pcm" type="integer" label="32061" help="32062" parent="enable_hlg">
                    <dependencies>
                        <dependency type="visible" setting="enable_hlg">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>

            <!-- SDR -->            
            <group id="6" label="32024">
                <setting id="enable_sdr" type="boolean" label="32032" help="32033">
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>              
                <!-- Dolby Atmos/TrueHD (ms) Delay Setting -->
                <setting id="sdr_truehd" type="integer" label="32004" help="32005" parent="enable_sdr">
                    <dependencies>
                        <dependency type="visible" setting="enable_sdr">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital+ (EAC3) (ms) Delay Setting -->
                <setting id="sdr_eac3" type="integer" label="32006" help="32007" parent="enable_sdr">
                    <dependencies>
                        <dependency type="visible" setting="enable_sdr">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Dolby Digital (AC3) (ms) Delay Setting -->
                <setting id="sdr_ac3" type="integer" label="32008" help="32009" parent="enable_sdr">
                    <dependencies>
                        <dependency type="visible" setting="enable_sdr">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS:X/DTS-HD MA 8+ Channel (ms) Delay Setting -->
                <setting id="sdr_dtsx" type="integer" label="32010" help="32011" parent="enable_sdr">
                    <dependencies>
                        <dependency type="visible" setting="enable_sdr">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS-HD MA 6 Channel (ms) Delay Setting -->
                <setting id="sdr_dtshd_ma" type="integer" label="32012" help="32013" parent="enable_sdr">
                    <dependencies>
                        <dependency type="visible" setting="enable_sdr">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- DTS (DCA) (ms) Delay Setting -->
                <setting id="sdr_dca" type="integer" label="32014" help="32015" parent="enable_sdr">
                    <dependencies>
                        <dependency type="visible" setting="enable_sdr">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Other/PCM (ms) Delay Setting -->
                <setting id="sdr_pcm" type="integer" label="32061" help="32062" parent="enable_sdr">
                    <dependencies>
                        <dependency type="visible" setting="enable_sdr">true</dependency>
                    </dependencies>                   
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>-1000</minimum>
                        <step>25</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
        </category>

        <!-- Category for Playback Behavior -->
        <category id="seek_back_settings" label="32016" help="32017">
            <group id="7" label="32047">
                <!-- Enable Active Monitoring Toggle -->
                <setting id="enable_active_monitoring" type="boolean" label="32045" help="32046">
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies> 
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="8" label="32018">
                <!-- Enable Seek Back on Adjust Behavior Toggle -->
                <setting id="enable_seek_back_adjust" type="boolean" label="32019" help="32020">
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies> 
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>

                <!-- Seek Back Adjust Amount (seconds) Slider -->
                <setting id="seek_back_adjust_seconds" parent="enable_seek_back_adjust" type="integer" label="32021" help="32022">
                    <level>0</level>
                    <dependencies>
                        <dependency type="visible">
                            <and>
                                <condition setting="enable_seek_back_adjust">true</condition>
                                <condition setting="new_install">false</condition>
                            </and>
                        </dependency>
                    </dependencies>
                    <default>4</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Enable Seek Back on Change Behavior Toggle -->
                <setting id="enable_seek_back_change" type="boolean" label="32048" help="32049">
                    <level>0</level>
                    <dependencies>
                        <dependency type="visible">
                            <and>
                                <condition setting="enable_active_monitoring">true</condition>
                                <condition setting="new_install">false</condition>
                            </and>
                        </dependency>
                    </dependencies>                    
                    <default>false</default>
                    <control type="toggle"/>
                </setting>

                <!-- Seek Back Change Amount (seconds) Slider -->
                <setting id="seek_back_change_seconds" parent="enable_seek_back_change" type="integer" label="32021" help="32050">
                    <level>0</level>
                    <dependencies>
                        <dependency type="visible">
                            <and>
                                <condition setting="enable_active_monitoring">true</condition>
                                <condition setting="enable_seek_back_change">true</condition>
                            </and>
                        </dependency>
                    </dependencies>
                    <default>4</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Enable Seek Back on Start/resume Toggle -->
                <setting id="enable_seek_back_resume" type="boolean" label="32034" help="32035">
                    <level>0</level>
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies> 
                    <default>false</default>
                    <control type="toggle"/>
                </setting>

                <!-- Seek Back on Start/resume Amount (seconds) Slider -->
                <setting id="seek_back_resume_seconds" parent="enable_seek_back_resume" type="integer" label="32036" help="32037">
                    <level>0</level>
                    <dependencies>
                        <dependency type="visible" setting="enable_seek_back_resume">true</dependency>
                    </dependencies>
                    <default>4</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>

                <!-- Enable Seek Back on unpause Toggle -->
                <setting id="enable_seek_back_unpause" type="boolean" label="32038" help="32039">
                    <level>0</level>
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies>                     
                    <default>false</default>
                    <control type="toggle"/>
                </setting>

                <!-- Seek Back on unpause Amount (seconds) Slider -->
                <setting id="seek_back_unpause_seconds" parent="enable_seek_back_unpause" type="integer" label="32040" help="32041">
                    <level>0</level>
                    <dependencies>
                        <dependency type="visible" setting="enable_seek_back_unpause">true</dependency>
                    </dependencies>
                    <default>4</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
        </category>

        <!-- Category for information -->
        <category id="platform_info" label="32053" help="32063">
            <group id="9" label="32051">
                <setting id="platform_hdr_full" type="boolean" label="32052"> 
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies>                             
                    <level>0</level>
                    <enable>false</enable>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>  
                <setting id="advanced_hlg" type="boolean" label="32054">   
                    <dependencies>
                        <dependency type="visible" setting="new_install">false</dependency>
                    </dependencies>                           
                    <level>0</level>
                    <enable>false</enable>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>  
            </group>
        </category>

    </section>
</settings>
